.MainCard {
    width: auto;
    height: auto;
    margin: 30px auto ;
    /* border: black 5px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* background-color: #f5f5f5; */
    
}